<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%=listTitle%>
        </h1>
    </div>
    <div class="box">
        <%newListItem.forEach(newItem=>{
                if(newItem.task!=""){%>
            <form class="item" action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" value="<%=newItem._id%>" name="checkbox">
                    <p>
                        <%=newItem.task%>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle%>"></input>
            </form>
            <%}%>
                <%});%>

                    <form class="" action="/" method="post">
                        <input type="text" name="newItem" id="newItem" placeholder="New Item" autofocus autocomplete="off">
                        <button type="submit" class="submit" name="list" value="<%=listTitle%>">+</button>
                    </form>
    </div>
    </div>
    <%- include("footer") -%>